body{background-color:rgba(240, 205, 249, 0.829)}

p {color:rgb(14, 13, 13);}

h1 { position: sticky ; 
    top:0; 
    background-color:rgb(185, 128, 203);}

h5 {position:static ;
    left: 300px;
    }

.contenedor{
    text-align: center;
}

.rubia { 
    width: 500px; 
    height: 1%;
            }

.moverfoto {
    text-align:left;
    position:absolute;
    height: 100px; 
}

.bio {
    width: 300px; 
    text-align: start;
}

p {position:static; left: 600px}

p {border-style: solid;}

