body{background-color:rgba(240, 205, 249, 0.829)}

p {color:rgb(14, 13, 13); font-family:Arial, Helvetica, sans-serif;}

h5 {position: relative; font-family: Arial, Helvetica, sans-serif; padding-top: 70px;}

h6 {position:static ; left: 300px; font-family: Arial, Helvetica, sans-serif;}

.contenedor{position: center;border:40px; border-color: blueviolet; }

p {position:static; left: 650px}

p {border-style: solid; background-color:plum;  }

.suscripcion{position:static;margin-top: 50px;}

.carousels-container {
    display: flex; 
}


.contenedordeGif{
    text-align: center;
}

.gif {
    display: inline-block; 
    width: 400px; 
    height: auto; 
    margin-right: 10px; 
}


#carouselExampleIndicators,
#carouselizquierdo {
    width: 50%; 
    flex: 0 0 auto; }


.container {
    text-align: center; 
    margin-top: 50px; 
}

.carousel {
    max-width: 500px; 
    margin: 0 auto; 
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}


.navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    background-color: blueviolet;
}


/* Estilos para pantallas más pequeñas (por debajo de 576px) */
@media only screen and (max-width: 575px) {
    body {
        font-size: 50%;
        background-color: rgba(240, 205, 249, 0.829);
    }
    .carousels-container {
        display: flex;
        flex-direction: column; 
    }
    #carouselExampleIndicators,
    #carouselizquierdo {
        width: 100%; 
    }

    .col-md-3{
        margin-top: 20px;
    }
    
.container {
    text-align: center; 
    margin-top: -20px; 
}

.gif {
    width: 100%; 
    margin-right: 0; 
}

}

/* Estilos para pantallas medianas (768px y superior) */
@media only screen and (min-width: 768px) {
    body {
        font-size: 100%;
        background-color:rgba(205, 249, 218, 0.829) ;
        .suscripcion{ background-color: lightgreen}
        p {background-color: lightgreen;}
}
p {background-color: lightgreen;}

}


/* Estilos para pantallas grandes (992px y superior) */
@media only screen and (min-width: 992px) { 
    body {
        font-size: 100%;
        background-color:rgba(240, 205, 249, 0.829) ;
        .suscripcion{ background-color: plum }
    }
    p {background-color: plum; }};
    .suscripcion{ background-color: plum}


    .suscripcion { position:sticky ;font-family: Arial, Helvetica, sans-serif; color:black; font-size: 30px;
    border:solid rgb(9, 8, 10); background-color: rgb(199, 104, 194);

}

footer{
    background-color: #000;
    text-align: center;
    color: ghostwhite;
    padding: 0.02rem;
}

.foot{
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    position: relative;
}

.container-cart{
    justify-content: center;
    display: inline-block; 
    padding: 10px;
}

.card-img-top {
    max-width: 300px; 
    height: auto; 
    position: relative;
    margin: auto;
}

.product {
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    width: 150px; 
    margin-right: 10px; 
    display: inline-block; 
    vertical-align: top; 
}


#colorcarro{
    background-color: rgba(240, 205, 249, 0.829);
}

.image-container {
    text-align: center; 
    vertical-align: middle; 
    height: 150px; 
}

.product-image {
    max-width: 100%; 
    max-height: 100%;
    display: inline-block; 
    vertical-align: middle; 
}

/* java */

#datoCuriosoBtn {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    font-weight: bold; 

}

#InfoBtn {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    font-weight: bold; 

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.modalero {
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    z-index: 10000;
}


#agregarcarro {
    color: violet; 
    font-weight: bold; 
}

.btn{
    font-weight: bold;
}
.btn:hover {
    background-color: black;
}

#datocurioso{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}

#btn btn-danger mt-2{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#datoCuriosoBtn{
    background-color: rgb(255, 0, 191);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#datoCuriosoBtn:hover {
    background-color: black;
}

#InfoBtn{
    background-color: rgb(255, 0, 191);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#InfoBtn:hover {
    background-color: black;
}

#borrarboton {
    background-color: rgb(255, 0, 191);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#borrarboton:hover {
    background-color: black;
}